@page "/"

<PageTitle>Konrad Kędziora</PageTitle>

  <div class="row m-0 p-0">
    <div class="col-lg-4 m-0 p-0 ">
       <div class="column position-fixed fixed-left col-lg-4 index-left m-0">
           <img src="images/avatar.png" asp-append-version="true" />
           <div class="index-left-text   ">
               <div class="col-xs-1" align="center">
                   <br/>
                   <h2><b>Konrad Kędziora</b></h2>
                   <h3 style="color:rgba(0,108,23,1)"><b>Poznań</b></h3>
                   <h5>+48 667 946 961</h5>
                   <br/>
                   <br/>
                   <br/>
                   <div class="row justify-content-center">
                       <div class="col-1">
                            <a href="https://www.linkedin.com/in/konrad-k%C4%99dziora-355662200/" target="_blank"><span class="iconify" data-icon="akar-icons:linkedin-box-fill"></span> </a>
                       </div>
                       <div class="col-1">
                            <a href="mailto:kedziora.adres@gmail.com"><span class="iconify" data-icon="mdi:gmail"></span></a>
                       </div>
                       <div class="col-1">
                            <a href="https://github.com/Mikstolar" target="_blank"><span class="iconify" data-icon="akar-icons:github-fill"></span> </a>
                       </div>
                   </div>
               </div>
                    <div class="row justify-content-center relative">
                        <div class="col-lg-6 border-right border-dark text-center left-bottom">
                            <a href="files/CV.pdf" download>Download CV</a>
                                |
                            <a href="mailto:kedziora.adres@gmail.com">Contact me</a> 
                        </div>
                    </div>
           </div>
       </div>
    </div>
    <div class="col-lg-7 column p-0 m-0">
      <div class="col-12 about-me m-0">
          <p><b>O mnie</b> </p>
          </div>
          <hr/>
          <div class="row m-0">
              <div class="col-lg-6 p-lg-4 text-success">
                  <p class="about-me-text">Cześć! Mam na imię Konrad. Moją pasją jest szeroko pojęta informatyka. Cały czas staram się rozwijać i poszerzać własne horyzonty.
                      Wolne chwilę staram się poświęcać dla bliskich i innym zainteresowaniom.</p>
              </div>
              <div class="col-lg-6 p-lg-4">
                  <div class="column">
                      <div class="row personal-data">
                          <div class="col-6 text-start border-bottom border-success"><b>Wiek:</b></div>
                          <div class="col-6 text-end">22</div>
                      </div>
                      <div class="row personal-data border-bottom border-success">
                          <div class="col-6 text-start"><b>Miasto:</b></div>
                          <div class="col-6 text-end">Poznań</div>
                      </div>
                      <div class="row personal-data">
                          <div class="col-6 text-start border-bottom border-success"><b>Praca:</b></div>
                          <div class="col-6 text-end">Student/IT Technican</div>
                      </div>
                      <div class="row personal-data border-bottom border-success">
                          <div class="col-6 text-start"><b>Hobby</b></div>
                          <div class="col-6 text-end">Gotowanie/Sport</div>
                      </div>
                  </div>
              </div>
          <div class="col-12 about-me p-0">
          <p><b>Co robię?</b> </p>
          </div>
          <hr/>
              <div class="col-12 text-center media-queries-programming-text">
                  <span class="iconify open-icon-code" data-icon="bi:code-slash"></span><br/>
                  <h3>Programowanie</h3>
                  <p class="p-1"> W wolnych chwilach staram się zdobywać wiedzę z zakresu programowania. 
                      Obecnie największy nacisk kładę na język C#. Zrobiłem już kilka aplikacji hobbysticznie (MVC, WPF, BlazorApp).
                      Niektóre z nich dostępne są na moim <a href="https://github.com/Mikstolar">githubie</a>.
                  </p>
              </div>
              
              <div class="col-12 text-center media-queries-programming-text">
                  <span class="iconify open-icon-code" data-icon="bi:code-slash"></span><br/>
                  <h3>Testowanie</h3>
                  <p class="p-1"> Podczas pisania własnych aplikacji, kładę również nacisk na ich testowanie. Póki co testuję je manualnie, ale w przyszłości chciałbym przejść na 
                      większą automatyzację.
                  </p>
              </div>
              
              <div class="col-12 text-center media-queries-programming-text">
                  <span class="iconify open-icon-code" data-icon="bi:code-slash"></span><br/>
                  <h3>Technik pierwszego kontaktu</h3>
                  <p class="p-1"> W obecnej pracy jestem technikiem pierwszego kontaktu. Wszystkie zgłoszenia z zepsutym sprzętem przychodzą do mnie, a ja dalej decyduję co z nimi zrobić.
                      Najczęściej restart urządzenia wystarczy :)
                  </p>
              </div>
          </div>
    </div>
    
  </div>


@code{

}